In [40]:
# importing utility modules
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss, classification_report

# importing machine learning models for prediction
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

# importing voting classifier
from sklearn.ensemble import VotingClassifier

In [28]:
df=pd.read_csv("iris")
display(df)
df_arr = df.to_numpy()

df=pd.DataFrame(df_arr,columns=['A','sepal_length','sepal_width','petal_length','petal_width','target'])
df.drop('A',axis=1,inplace=True)
display(df)
df["target"].unique()

     Unnamed: 0  5.1  3.5  1.4  0.2     Iris-setosa
0             0  4.9  3.0  1.4  0.2     Iris-setosa
1             1  4.7  3.2  1.3  0.2     Iris-setosa
2             2  4.6  3.1  1.5  0.2     Iris-setosa
3             3  5.0  3.6  1.4  0.2     Iris-setosa
4             4  5.4  3.9  1.7  0.4     Iris-setosa
..          ...  ...  ...  ...  ...             ...
144         144  6.7  3.0  5.2  2.3  Iris-virginica
145         145  6.3  2.5  5.0  1.9  Iris-virginica
146         146  6.5  3.0  5.2  2.0  Iris-virginica
147         147  6.2  3.4  5.4  2.3  Iris-virginica
148         148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 6 columns]

    sepal_length sepal_width petal_length petal_width          target
0            4.9         3.0          1.4         0.2     Iris-setosa
1            4.7         3.2          1.3         0.2     Iris-setosa
2            4.6         3.1          1.5         0.2     Iris-setosa
3            5.0         3.6          1.4         0.2     Iris-setosa
4            5.4         3.9          1.7         0.4     Iris-setosa
..           ...         ...          ...         ...             ...
144          6.7         3.0          5.2         2.3  Iris-virginica
145          6.3         2.5          5.0         1.9  Iris-virginica
146          6.5         3.0          5.2         2.0  Iris-virginica
147          6.2         3.4          5.4         2.3  Iris-virginica
148          5.9         3.0          5.1         1.8  Iris-virginica

[149 rows x 5 columns]

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [29]:
mapping={"Iris-setosa":0,"Iris-virginica":1,"Iris-versicolor":2}
df["target"]=df["target"].map(mapping)
display(df)

    sepal_length sepal_width petal_length petal_width  target
0            4.9         3.0          1.4         0.2       0
1            4.7         3.2          1.3         0.2       0
2            4.6         3.1          1.5         0.2       0
3            5.0         3.6          1.4         0.2       0
4            5.4         3.9          1.7         0.4       0
..           ...         ...          ...         ...     ...
144          6.7         3.0          5.2         2.3       1
145          6.3         2.5          5.0         1.9       1
146          6.5         3.0          5.2         2.0       1
147          6.2         3.4          5.4         2.3       1
148          5.9         3.0          5.1         1.8       1

[149 rows x 5 columns]

In [30]:
target = df["target"]

# getting train data from the dataframe
train = df.drop("target",axis=1)

In [34]:
# Splitting between train data into training and validation dataset
X_train, X_test, y_train, y_test = train_test_split(
	train, target, test_size=0.20)

# initializing all the model objects with default parameters
model_1 = KNeighborsClassifier()
model_2 = DecisionTreeClassifier()
model_3 = RandomForestClassifier()


# Making the final model using voting classifier
final_model = VotingClassifier(
	estimators=[('lr', model_1), ('tree',model_2), ('rf', model_3)], voting='hard')

# training all the model on the train dataset
final_model.fit(X_train, y_train)

# predicting the output on the test dataset
y_pred = final_model.predict(X_test)

In [41]:
# printing log loss between actual and predicted value
print(classification_report(y_test, pred_final))
print(y_pred,y_test)

              precision    recall  f1-score   support

           0       0.25      0.29      0.27         7
           1       0.11      0.11      0.11         9
           2       0.46      0.43      0.44        14

    accuracy                           0.30        30
   macro avg       0.27      0.28      0.27        30
weighted avg       0.31      0.30      0.30        30

[2 1 1 0 1 1 0 2 2 0 2 2 0 0 2 1 2 1 1 2 1 2 2 2 0 2 2 1 2 0] 54     2
124    1
140    1
34     0
102    1
128    1
2      0
59     2
61     2
0      0
64     2
89     2
35     0
6      0
73     2
115    1
80     2
104    1
141    1
77     2
130    1
71     2
53     2
84     2
36     0
79     2
91     2
143    1
88     2
47     0
Name: target, dtype: int64